.aboutContainer {
  max-width: 800px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  transition: all 0.3s ease;
  margin: 2em auto;
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
  overflow-wrap: break-word;
}
.aboutContainer > h2 {
  text-align: center;
}
.aboutContainer > p {
  max-width: 100%;
  line-height: 1.6;
}

.formContainer {
  max-width: 800px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: all 0.3s ease;
  margin: 2em auto;
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.submitButton {
  background-color: rgb(9, 99, 9);
  color: white;
  border-radius: 10px;
  padding: 0.5em 0.5em;
  font-size: 1em;
}
