:root {
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Special Elite', cursive;
  background-color: white;
  color: black;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--font-heading);
  letter-spacing: 0.2px;
  color: black;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

p,
li {
  line-height: 1.5;
  color: black;
}
main {

  width: 100%;
}
h2{
  color: rgb(9, 99, 9);
}
